.app-col{

}
.app-container{

}
.app-row{

}
.links > a {
    color: #636b6f;
    /* padding: 0 25px; */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.in-stock{
  color: green;
}
.out-of-stock{
  color: red;
}
.title-image{
  height: 100px;
  width: auto;
  border: 1px;
}
.title-image-div{
  margin-top: 10px;
  height: 150px;
  width: 150px;
  margin: auto;
}
.title-image-p{
  text-align: center;
}
.divbox{
  width: 200px;
}
.product-brand{
  text-align: center;
  font-size: 15px;
}
.product-model{
  text-align: center;
  font-size: 12px;
}
.product-price{
  text-align: center;
  font-size: 12px;
}
.product-link{
  color: #636b6f;
  padding: 0 25px;
  /* font-size: 15px; */
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.left-catalog-elem{
  opacity: 1;
  z-index: 50;
  list-style-type: none;
}
.left-catalog-box{
  /* display: none; */
  opacity: 1;
  z-index: 50;
}
.fa-angle-right{
  margin-right: 0px;
}
.left-catalog-header{
  background-color: pink;
}
.admin-links{
  color: #636b6f;
  padding: 0 25px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.admin-links:hover {
  text-decoration: none;
  color: #636b6f;
}
.admin-links:active {
  text-decoration: none;
  color: #636b6f;
}
.admin-links:visited {
  text-decoration: none;
  color: #636b6f;
}
