.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.in-stock{
  color: green;
}
.out-of-stock{
  color: red;
}
.title-image{
  height: 100px;
  width: auto;
  border: 1px;
}
.title-image-div{
  height: 150px;
  width: 150px;
}
.title-image-p{
  text-align: center;
}
